<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.emc"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="14" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.Transparent" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainAppActivity"
            android:label="@string/app_name" />

        <!-- *************** TEST *************** -->

        <activity
            android:name=".test.TestAppActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".test.AboutActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".test.LoginActivity"
            android:label="@string/app_name" />

        <!-- *************** TV SCHEDULE *************** -->
        
        <activity
            android:name=".tvschedule.TVSSelectDayActivity"
            android:label="@string/title_TvScheduleSelectDay" />
        <activity
            android:name=".tvschedule.TVSDailyActivity"
            android:label="@string/title_TvScheduleDaily" />
        

        <!-- *************** WATCH SERIES *************** -->
        
        <activity
            android:name=".watchseries.WSSelectSerieActivity"
            android:icon="@drawable/watchseries"
            android:label="@string/ws_name" />
        <activity
            android:name=".watchseries.WSTvShowActivity"
            android:icon="@drawable/watchseries"
            android:label="@string/ws_name" />
        <activity
            android:name=".watchseries.WSEpisodeActivity"
            android:icon="@drawable/watchseries"
            android:label="@string/ws_name" />
    </application>

</manifest>