<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="EMCMovie.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <EMCMovie.Properties.Settings>
      <setting name="emcd_path" serializeAs="String">
        <value>D:\Programmation\C#\EricMediaCenter\EMCDownloader\bin\Debug\EMCDownloader.exe</value>
      </setting>
      <setting name="emcd_output" serializeAs="String">
        <value>D:\Eric\Downloads</value>
      </setting>
    </EMCMovie.Properties.Settings>
  </userSettings>
</configuration>